<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.knu_matching">
    <!-- 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Knu_Matching"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Nav.Edit_profile_Activity"
            android:exported="true"/>
        <activity
            android:name=".Nav.SettingActivity"
            android:exported="true"/>
        <activity
            android:name=".Nav.Scrap_Activity"
            android:exported="true"/>
        <activity
            android:name=".main.ChangePassWord"
            android:exported="true" />
        <activity android:name=".postRegisterActivity"
            android:exported="true" />
        <activity
            android:name=".postActivity"
            android:exported="true" />
        <activity
            android:name=".main.InfoModify"
            android:exported="true" />
        <activity
            android:name=".chatting.ChatActivity"
            android:exported="true" />
        <activity
            android:name=".membermanage.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".membermanage.FindPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".membermanage.FindIDActivity"
            android:exported="true" />
        <activity
            android:name=".membermanage.Student_Certificate"
            android:exported="true" />
        <activity
            android:name=".main.MainActivity"
            android:exported="true" />
        <activity
            android:name=".membermanage.RegisterActivity"
            android:exported="true" />
    </application>

</manifest>